#txtAgradecimento{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 150px;
    text-shadow: 0px 0px 10px #000000;
    color: #ffffff
}
.Agradecimento {
    width: 100%;
    height: 100%;
}
body {
    width: 100%;
    height: 100%;
    margin: 0 auto;
}