#txtAgradecimento{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 125px;
    text-shadow: 0px 0px 10px #000000;
    color: #ffffff
}
.Agradecimento {
    width: 100%;
}
.Ads{
    width: 100%;
}
.Ads ul li{
    display: inline-block;
    list-style: none;
}
body {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    background-color: #332b37;
}