body{
    width: 100%;
    height: 100%;
    margin: 0 auto;
    background-color: #332b37;
}
.Top1{
    width: 100%;
    background-color: #7600c4;
    align-items: center;
    height: min(253px, 50vw);
    margin: 0px;
    box-shadow: 0px 5px 51px 11px #aa57ff69;
    background: linear-gradient(0deg, #8F00FF 0%, #410073 100%)
}
.Top2{
    width: auto;
    margin: 0px;
    align-items: center;
    display: flex;
    justify-content: center;
}
.Logo{
    align-items: center;
    width: auto;
    margin-left: 10px;
    margin-right: 0px;
}
.Links ul li{
    margin-left: 5px;
    list-style: none;
    float: left;
}
.Links{
    margin-left: 10px;
}
.Body{
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
}
.Images{
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    margin-bottom: 10px;
}
.programa1{
    align-items: center;
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 75px;
    margin-bottom: 40px;
    margin-top: 50px;
}
.programa2{
    align-items: center;
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 75px;
    margin-top: 40px;
}
.programa3{
    align-items: center;
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 75px;
    margin-bottom: 0px;
}
.vídeo{
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    margin: 50px;
    width: 100%;
    height: 100%;
}
#vídeo{
    outline: 5px dashed #2CF7EC;
    outline-offset: 15px;
    animation: Initialize2 4s ease 0s 1 normal none;
    width: min(150%, 50vw);
    height: min(704px, 30vw);
}
.DownloadInfo{
    width: 100%;
    margin: 0px;
    align-items: center;
    display: flex;
    justify-content: center;
}
.Info{
    width: 100%;
    animation: Initialize2;
    align-items: center;
    display: flex;
    justify-content: center;
    margin-bottom: 0px;
}
.Download{
    display: flex;
    justify-content: center;
    align-content: space-around;
    flex-direction: row;
    width: 100%;
    height: 100%;
    align-items: center;
    flex-wrap: nowrap;
    margin-bottom: 50px;
}
#txtDownload-1{
    font-family: Arial,sans-serif;
    font-size: min(24px, 5vw);
    color: #fff;
}
#txtDownload-2{
    font-family: Arial,sans-serif;
    font-size: min(24px, 5vw);
    color: #fff;
}
#btnDownload-1{
    background: linear-gradient(150deg, #00C3FF 0%, #4100FF 100%);
    border: 0px;
    color: rgb(255, 255, 255);
    font-family: arial, sans-serif;
    font-size: 16px;
    text-shadow: 0px 0px 5px #ffffff7b;
    border-radius: 10px;
    width: 150px;
    height: 50px;
    -webkit-transition-duration: 0.3s;
    box-shadow: 0px 0px 15px 0px #0068B1;
}
#btnDownload-1:hover{
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
#btnDownload-2{
    background: linear-gradient(150deg, #00C3FF 0%, #4100FF 100%);
    border: 0px;
    color: rgb(255, 255, 255);
    font-family: arial, sans-serif;
    font-size: 16px;
    text-shadow: 0px 0px 5px #ffffff7b;
    border-radius: 10px;
    width: 150px;
    height: 50px;
    -webkit-transition-duration: 0.3s;
    box-shadow: 0px 0px 15px 0px #0068B1;
}
#btnDownload-2:hover{
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
#btnDownload-3{
    background: linear-gradient(150deg, #00C3FF 0%, #4100FF 100%);
    border: 0px;
    color: rgb(255, 255, 255);
    font-family: arial, sans-serif;
    font-size: 16px;
    text-shadow: 0px 0px 5px #ffffff7b;
    border-radius: 10px;
    width: 150px;
    height: 50px;
    -webkit-transition-duration: 0.3s;
    box-shadow: 0px 0px 15px 0px #0068B1;
}
#btnDownload-3:hover{
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
#h3Info{
    font-family: Arial,sans-serif;
    animation: Initialize2 4s ease 0s 1 normal none;
    text-align: center;
    font-size: min(55px, 7vw);
    color: #FFFFFF;
    margin-top: 0px;
    margin-bottom: 0px;
}
#h3Info2{
    font-family: Arial,sans-serif;
    animation: Initialize2 4s ease 0s 1 normal none;
    text-align: center;
    font-size: min(55px, 7vw);
    color: #FFFFFF;
    margin: 0px;
    margin-left: 0px;
    margin-bottom: 0px;
}
#h3Info3{
    font-family: Arial,sans-serif;
    animation: Initialize2 4s ease 0s 1 normal none;
    text-align: center;
    font-size: min(55px, 7vw);
    color: #FFFFFF;
    margin: 0px;
    margin-left: 0px;
    margin-bottom: 0px;
}
#h3bykockie{
    font-family: Arial,sans-serif;
    animation: Initialize2 4s ease 0s 1 normal none;
    text-align: center;
    font-size: min(35px, 5vw);
    color: #FFFFFF;
    margin: 0px;
    margin-left: 0px;
    margin-bottom: 0px;
}
#H1Logo{
    font-family: Arial,sans-serif;
    text-align: center;
    font-style: inherit;
    font-weight: bold;
    animation: Initialize 2s ease 0s 1 normal none;
    font-size: min(80px, 15vw);
    color: #FFFFFF;
    text-shadow: 0 1px 0 #CCCCCC, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0,0,0,.1), 0 0 5px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.2), 0 20px 20px rgba(0,0,0,.15);
}
#discordIcon{
    animation: Initialize 3s ease 0s 1 normal none;
    width: min(50px, 10vw);
    height: min(50px, 10vw);
    -webkit-transition-duration: 0.1s;
    filter: drop-shadow(0px 0px 15px rgba(0, 0, 0, 0.35));
}
#youtubeIcon{
    animation: Initialize 3s ease 0s 1 normal none;
    width: min(50px, 10vw);
    height: min(50px, 10vw);
    -webkit-transition-duration: 0.1s;
    filter: drop-shadow(0px 0px 15px rgba(0, 0, 0, 0.35));
}
#githubIcon{
    animation: Initialize 3s ease 0s 1 normal none;
    width: min(50px, 10vw);
    height: min(50px, 10vw);
    -webkit-transition-duration: 0.1s;
    filter: drop-shadow(0px 0px 15px rgba(0, 0, 0, 0.35));
}
#programa1{
    animation: Initialize2 4s ease 0s 1 normal none;
    -webkit-transition-duration: 0.3s;
    width: max(60%, 45vw);
    height: max(60%, 30vw);
    outline: 10px dotted #2CF7EC;
    outline-offset: 10px;
    filter: drop-shadow(0px 0px 5px #0070c0);
}
#programa2{
    animation: Initialize2 4s ease 0s 1 normal none;
    -webkit-transition-duration: 0.3s;
    width: 100%;
    height: 100%;
    outline: 10px dotted #2CF7EC;
    outline-offset: 10px;
    filter: drop-shadow(0px 0px 5px #0070c0);
}
#programa3{
    animation: Initialize2 4s ease 0s 1 normal none;
    -webkit-transition-duration: 0.3s;
    width: 100%;
    height: 100%;
    outline: 10px dotted #2CF7EC;
    outline-offset: 10px;
    filter: drop-shadow(0px 0px 5px #0070c0);
    margin-bottom: 40px;
}
#programa1:hover{
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
#programa2:hover{
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
#programa3:hover{
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
#discordIcon:hover, #discordIcon:focus, #discordIcon:active{
    filter: drop-shadow(0px 0px 25px #4D0E80);
    text-shadow: 0px 0px 5px #FFFFFF;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
#youtubeIcon:hover, #youtubeIcon:focus, #youtubeIcon:active{
    filter: drop-shadow(0px 0px 25px #4D0E80);
    text-shadow: 0px 0px 5px #FFFFFF;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
#githubIcon:hover, #githubIcon:focus, #githubIcon:active{
    filter: drop-shadow(0px 0px 25px #4D0E80);
    text-shadow: 0px 0px 5px #FFFFFF;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
#txtDownloadInfo{
    font-family: Arial,sans-serif;
    text-align: center;
    font-style: inherit;
    font-weight: bold;
    font-size: max(40px, 4vw);
    color: #FFFFFF;
}
@keyframes Initialize{
	0% {
		opacity: 0;
		transform: scale(0.6);
	}

	100% {
		opacity: 1;
		transform: scale(1);
	}
}
@keyframes Initialize2{
	0% {
		opacity: 0;
		transform: translateY(50px);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}