<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7569021266498491"
     crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Download</title>
    <link rel="shortcut icon" href="../img/icon.png" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <script type="text/javascript" src="../js/main.js"></script>
</head>
<body>
    <Header class="Top1">
        <Header class="Top2"></div>
            <div class="Logo">
                <h1 id="H1Logo2">Kockie Optimizer</h1>
            </div>
            <div class="Links">
                <ul>
                    <a href="https://discord.gg/kAe7f285JE">
                        <li><img id="discordIcon2" src="../img/discordIcon.png"></li>
                    </a>
                    <a href="https://www.youtube.com/channel/UCYLoDNZ_JOE_W1LFkSTLWpQ">
                        <li><img id="youtubeIcon2" src="../img/youtubeIcon.png"></li>
                    </a>
                    <a href="https://github.com/Kockiee">
                        <li><img id="githubIcon2" src="../img/githubIcon.png"></li>
                    </a>
                </ul>
            </div>
        </Header>
    </Header>
    <div class="Blabel">
        <a href="../index.html"><label id="backlabel">Voltar para o início</label></a>
    </div>
    <div class="Download">
            <div style="display: flex; flex-direction: column; align-items: center; justify-content: center; margin: 0px; margin-right: 20px;">
                <h3 id="txtDownload-1">Versão Python:</h3>
                <button id="btnDownload-1" onclick="download1()">Download 64bit</button>
            </div>
            <div style="display: flex; flex-direction: column; align-items: center; justify-content: center; margin: 0px; margin-left: 20px;">
                <h3 id="txtDownload-2">Versão C# (Em Breve):</h3>
                <button id="btnDownload-2" disabled>Download 64bit</button>
                <p><button id="btnDownload-3" disabled>Download 32bit</button></p>
            </div>
    </div>
    <h3 id="h3bykockie" style="margin-bottom: 50px;">By <a href="https://www.youtube.com/channel/UCYLoDNZ_JOE_W1LFkSTLWpQ">KOCKIE</a></h3>
</body>
</html>